.item {
  width: 100px;
  height: 100px;
  border: 2px solid red;
  display: inline-block;
  /* box-sizing: border-box; */
}

.item-2 {
  display: none;
  /* visibility: visible; */
}

.item-1 {
  border: 3px dotted green;
}

span {
  display: inline;
}

h1,
p {
  margin: 0;
}
